@import "../../node_modules/bootstrap/scss/bootstrap-utilities.scss";

/*
General stylings for App.tsx 
*/
.action-button {
  color: white;
  background-color: $orange-500;
  border: none;
  transition: background-color 0.25s ease-in;
}

.action-button:hover {
  color: white;
  background-color: $orange-400;
}

.action-button:active {
  color: white;
  background-color: $orange-600;
}

.copy-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  font-size: .85rem;
  
}

h1 {
  text-shadow: 0 0 10px black;
  color: white;
}

.link-result {
  background-color: $gray-700;
  border: 2px solid $gray-800;
  border-top-left-radius: 0;
  border-top: none;
  border-right: none;
  color: white;
  font-size: small;
}

.link-result-container {
  width: 65%;
  margin: 0 auto;
}

.tiny-url {
  color: $blue-200;
  overflow: hidden;
}

.tiny-url:hover {
  color: $orange-500;
}
/*
Animation for 'Link Shortener' on load (from https://animista.net/)
*/

/* ----------------------------------------------
   * Generated by Animista on 2023-12-5 15:40:1
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*
Animation for 'Link Entry and Button' on load (from https://animista.net/)
*/

/* ----------------------------------------------
 * Generated by Animista on 2023-12-7 2:5:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(250px);
    transform: translateY(250px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(250px);
    transform: translateY(250px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*Animation for Link Result on play*/

/* ----------------------------------------------
 * Generated by Animista on 2023-12-7 3:51:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

/*
Animation for Loading dots
*/

.custom-loader {
  margin: auto;
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, $orange-500 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, $orange-500 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, $orange-500 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d3 1s infinite linear;
}
@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
